<h1>correct words</h1>
<div class="container">
  <% @words.each do |i| %>
    <div class=post-index-word>
      <%=i.word%>
      <%=i.meaning%>
      <%=link_to("×","/#{i.id}/mistake",{method:"post"})%>
      <%=link_to("削除","/posts/#{i.id}/destroy",{method:"post"})%>
    </div>
  <% end %>
  <a href="/">トップに戻る</a>