
<div class ="main-container">
  <div class="explanation">
    <% if logged_in? %>
    <h1>ようこそ<%=current_user.name%>さん</h1>
    <%end%>
    <h3><span class ="app_exp">このアプリでできること</span></h3>
    <p>単語帳で出てきた単語を登録できます。</p>
    <p>さらにそれらの単語を正解した単語、間違えた単語に分類することができます。</p>
  </div>
</div>

