// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin:0px;
  padding:0px;
}
header .title{
  color:red;
  float:left;
  padding:20px;
}
.reference{
  float:left;
  font-size:20px;
  padding:30px 50px;
}
.main-container{
  height:1000px;
  background-image:url(/english_study.jpg);
  background-size:cover;
}
.explanation{
  padding-top:50px;
  text-align: center;
  height:1000px;
  background-size:cover;
  background:rgba(255,255,255,0.5)
}
.app_exp{
  background: linear-gradient(transparent 50%,yellow 50%);
}
.title1{
  font-size:30px;
}